
<h1>The Best Groceries In Your Local Area</h1>



<div id="result_list">

<table>
  <% @results.each do |result| %>
  <tr>
    <td><%= image_tag result[:logoview] %> - <%= image_tag result[:pic] %> - <%= result[:name] %> - <%= result[:price] %></td>
  <%end%>


</table>
</div>

